body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image:url('imprimanta.jpg');
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center ;
    color: #64a2dc;
    
}

header {
    background: #57a6d7;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #d4ca3b;
    text-size-adjust: 40px ;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #61b3e7;
    color: #a1dcf0;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}